.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
} 
.size{
    font-family: Arial;
    background-color: rgb(250, 249, 249);
    /* overflow: hidden; */
    left: 05;
    margin-top: -240px;
    margin-right: 40px;
    border: 10px solid #ccc;
    float: right;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 17px;
    /* transition: 10s; */
    
 }
 .datasets{
    font-family: Arial;
    background-color: rgb(250, 249, 249);
    overflow: hidden;
    left: 05;
    border: 10px solid #ccc;
    float: right;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 17px;
    transition: 10s;
}
.di{
    font-family: Arial;
    background-color: rgb(250, 249, 249);
    left: 05; 
    margin-top: -70px;
    margin-right: 100px;
    
    float: right;
    cursor: pointer;
    
    font-size: 17px; 
}
.di1{
    font-family: Arial;
    left: 05;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    font-size: 17px;
}